* 
{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Times New Roman', Times, serif;
        }

        body {
            margin: 20px;
            background-color: #070707f8;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .input-container {
            display: flex;
            margin-bottom: 20px;
            position: relative;
            width: 100%;
            max-width: 500px;
        }

        .input-wrapper {
            display: flex;
            align-items: center;
            width: 100%;
            background-color: #ffffff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
        }

        input {
            outline: none;
            border: none;
            background-color: transparent;
            color: #000000;
            font-size: 20px;
            flex: 1;
        }

        #suggestion {
            width: inherit;
            height: inherit;
            position: absolute;
            z-index: 2;
            display: flex;
            align-items: center;
            padding: 0 20px;
            font-size: 20px;
            color: #868686;
        }

        .dropdown {
            position: absolute;
            top: calc(100% + 5px);
            left: 0;
            width: 100%;
            max-height: 150px;
            overflow-y: auto;
            background-color: #0f0f0f;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: none;
            z-index: 1;
        }

        .dropdown-item {
            padding: 10px;
            cursor: pointer;
            font-size: 18px;
            color: #fdf8f8;
        }

        .dropdown-item:hover,
        .dropdown-item.active {
            background-color: #4e4d4d3d;
        }

        .show {
            display: block;
        }

        #results{
            padding: 10px;
            cursor: pointer;
            font-size: 18px;
            color: white;
        }
        
        #artistInfo {
            width: 100%;
            max-width: 500px;
        }
        

        .music-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            padding: 20px;
            background-color: #0d0e0d;
            border: 1px solid #c6dfc57a;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgb(244, 247, 243);
        }

        .music-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            padding: 20px;
            background-color: #1a1919;
            border: 2px solid transparent;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(211, 206, 206, 0.6), 0 0 30px rgba(161, 160, 160, 0.4);
            transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
        }
        
        .music-card:hover {
            border: 2px solid #dcecce;
            box-shadow: 0 0 25px rgb(206, 233, 145), 0 0 50px rgba(255, 255, 255, 0.7);
        }
        
        .music-card img {
            width: 100%;
            height: auto;
            max-width: 300px;
            margin: 30px 0;
        }
        
        

        .album-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .album-title {
            font-size: 2em;
            margin: 0;
            color: white;
        }

        .artist-name {
            font-size: 1em;
            color: rgb(112, 110, 110);
            margin-left: 20px;
        }

        .album-cover {
            margin: 30px 0;
            max-width: 100%;
        }

        .album-description {
            margin-top: 25px;
            text-align: justify;
            color: white;
        }

        .song-info {
            margin-top: 8px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-weight: bold;
            color: white;
        }

        .song-title {
            margin-right: 10px;
            color: white;

        }

        .song-length {
            margin-left: 10px;
            color: white;
        }

        #searchButton {
            margin-left: 10px;
            padding: 10px 20px;
            font-size: 18px;
            border: none;
            background-color: #196445;
            color: #ffffff;
            border-radius: 5px;
            cursor: pointer;
        }

        #searchButton:hover {
            background-color: #00b37d;
        }

        .header__title {
            margin-bottom: var(--margin-3);
            font-size: clamp(1rem, 6vw, 2rem);
            color: white;
        }

        /* 3D Carousel */
        .carousel {
            width: 100%;
            max-width: 300px;
            perspective: 1000px;
            margin-bottom: 20px;
        }

        .carousel-inner {
            width: 100%;
            height: 300px;
            position: relative;
            transform-style: preserve-3d;
            animation: rotate 20s infinite linear;
        }

        .carousel-item {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: #eee8e8;
            border: 1px solid #0f0f0f;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(223, 228, 223, 0.5);
            transition: transform 0.5s;
        }

        .carousel-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @keyframes rotate {
            from {
                transform: rotateY(0deg);
            }

            to {
                transform: rotateY(360deg);
            }
        }