/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff; /* Blanco */
    color: #333333;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;

}

.content {
    display: flex;
    margin: 0 20%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1000px; /* Ejemplo de ancho máximo */
}

@media (max-width: 700px) {
    .content {
        padding: 5px;
    }
}

/* Encabezado */
.header {
    background-color: #75dfdf; 
    padding: 15px 0;
    height: 50px;


}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-logo img {
    width: 25px;
    height: auto;
}

.header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-nav li {
    display: inline-block;
    margin-right: 20px;
}

.header-nav a {
    text-decoration: none;
    color: #0e0f0f;
    font-size: 16px;
    font-weight: bold;
}

/* Cuerpo Principal */
.main {
    
    padding: 20px;
    background-color: #ddeaeb; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em; /* Ejemplo de tamaño de fuente diferente */
    line-height: 1.6; /* Line-height relativo */
}

.main h1 {
    text-align: center; /* Alinea el título principal al centro */
}
/*boton*/ 
.boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #eee8e8;
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }

  .boton:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  .boton:active {
    background-color: #003d7a;
    border-color: #003d7a;}

/* Estilos para el Input */
.input-container {
    display: flex;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    max-width: 500px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #f7f4f4;
    border-radius: 5px;
    padding: 10px;
}

input {
    outline: none;
    border: none;
    background-color: transparent;
    color: #000000;
    font-size: 20px;
    flex: 1;
}

#suggestion {
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
    color: #868686;
}

.dropdown {
    position: absolute;
    
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color:#f8fdfd;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    z-index: 1;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #070707;
}

.dropdown-item:hover,
.dropdown-item.active {
    background-color: #4e4d4d3d;
    font-weight: bold
}

.show {
    display: block;
}


/* Resultados de Búsqueda y Sugerencias */
#results {
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    color: rgb(8, 8, 8);
}

#artistInfo {
    width: 100%;
    max-width: 500px;

}

/* Estilos para las Tarjetas de Música */

.music-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background: linear-gradient(135deg, #deeaf1 0%, #c9d3e4 100%);
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
    box-shadow: 0px 0px 10px #337373;
    max-width: 100%; /* Ajustar al ancho completo del contenedor padre */

    /* Ajustes adicionales para dispositivos móviles */
    @media (max-width: 650px) {
        padding: 10px;
    }
}


.music-card:hover {
    border: 2px solid #dcecce;
    box-shadow: 0 0 25px rgb(106, 128, 187), 0 0 50px rgba(255, 255, 255, 0.7);
}

.music-card img {
    width: 100%;
    height: auto;
    max-width: 400px;
    margin: 30px 0;
}
.album-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.album-title {
    font-size: 3sem;
    margin: 0;
    color: rgb(10, 10, 10);
}
.album-cover {
    margin: 30px 0;
    max-width: 100%;
}

.album-description {
    margin-top: 10px;
    color: rgb(10, 10, 10);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}


.artist-name {
    font-size: 1.5em;
    color: #215252;
    margin-left: 250px;
    margin-trim: 10px;

}

.song-info {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    color: rgb(10, 10, 10);
}

.song-title {
    margin-right: 10px;
    color: rgb(3, 3, 3);

}

.song-length {
    margin-left: 10px;
    color: rgb(7, 7, 7);
}
.header__title {
    margin-bottom: var(--margin-3);
    font-size: clamp(1rem, 6vw, 2rem);
    color: rgb(7, 7, 7);
}
/* Estilos para las Tarjetas 3D de Artistas */
.card-container {
    width: 850px; /* Ancho específico de la tarjeta */
    height: 850px; /* Altura específica de la tarjeta */
    perspective: 1000px;
    gap: 40px;
    display: flex;
    margin: 10px auto; /* Centra vertical el contenedor */
    justify-items: center; 

}
.card {
    width: 500px; /* Ancho específico de la tarjeta */
    height: 750px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    margin-bottom: 30px; /* Espacio entre cada tarjeta */
    @media (max-width: 360px) {
            display: flex;
            justify-content: center; /* Centrar contenido horizontalmente en dispositivos móviles */
            align-items: center; /* Centrar contenido verticalmente en dispositivos móviles */
            padding: 10px;
            flex-basis: calc(50% - 20px);
        }
    
}


.card:hover {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Para colocar la imagen encima y el texto debajo */
    padding: 10px;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    backface-visibility: hidden;
    border-radius: 8px;
   
}

.card-front {
    background-color: rgba(241, 233, 233, 0.336); /* Color de fondo semitransparente */
  border-radius: 10px;
  backdrop-filter: blur(10px); /* Aplica un desenfoque */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
    /*background: linear-gradient(135deg, #f7f4f3 0%, #d3b3af 100%);*/
   /* color: white;*/
    z-index: 1; /* Coloca la cara frontal encima de la cara trasera */
}

.card-back {
    background-color: rgba(255, 255, 255, 0.5); /* Color de fondo semitransparente */
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Aplica un desenfoque */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
   /* background: linear-gradient(135deg, #e7d4cd 0%, #af9997 100%);*/
    /*color: white;*/
    transform: rotateY(180deg);
    z-index: 0; /* Coloca la cara trasera detrás de la cara frontal */
}

.card-face img {
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente */
    max-height: calc(50% - 40px); /* Ajusta la altura máxima para evitar desbordamientos */
    object-fit: contain; /* Ajusta la imagen para que quepa completamente dentro del contenedor sin recortar */
    border-radius: 8px; /* Redondea las esquinas de la imagen para que coincidan con las esquinas de la tarjeta */
    margin-bottom: 20px; /* Espacio adicional bajo la imagen */
}






/* Estilos para el Carrusel 3D */
.carousel {
    width: 100%;
    max-width: 150px;
    perspective: 1000px;
    margin-bottom: 25px;
}

.carousel-inner {
    width: 100%;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 20s infinite linear;
}

.carousel-item {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #eee8e8;
    border: 1px solid #0f0f0f;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(223, 228, 223, 0.5);
    transition: transform 0.5s;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}



/* Estilos de los Botones */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #337373; /* Verde Oscuro */
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #265d5d; /* Verde más oscuro */
}

.btn-primary {
    background-color: #FF9A76; /* Naranja */
}

.btn-primary:hover {
    background-color: #ff8050; /* Naranja más oscuro */
}

.btn-secondary {
    background-color: #f7f4f4; /* Blanco */
    color: #337373; /* Verde Oscuro */
}

.btn-secondary:hover {
    background-color: #e0dddd; /* Blanco más oscuro */
}
