/* carousel.css */
.carousel {
    width: 100%;
    max-width: 150px;
    perspective: 1000px;
    margin-bottom: 25px;
}

.carousel-inner {
    width: 100%;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 20s infinite linear;
}

.carousel-item {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #eee8e8;
    border: 1px solid #0f0f0f;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(223, 228, 223, 0.5);
    transition: transform 0.5s;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
